<!DOCTYPE html>
<html>
<head>
    <title>Relationship successfully Established !</title>
</head>
<body>
    <h1>Thanks! {{ parent }},</h1>
    <p>Your Relationship with {{ child }} has been successfully established!</p>
    <div>
        <a href="{% url 'member_detail' member.id %}">View Member</a>
    </div>
    <div>
        <a href="{% url 'homepage' %}">Home</a>
    </div>
    <div>
        <a href="{% url 'edit_member_relationship' relationship_id=relationship.id %}">Update Relationship</a>
    </div>
</body>
</html>
